/*GENERAL*/

*, :before, :after {
    box-sizing: border-box;
}

/*HEADER*/

header {
    padding: 1px;
    position: relative;
}

.boxShadow {
    box-shadow: 0 2px 5px 1px #cfcfcf;
    padding: 1px;
    position: relative;
}

h1 {
    font-family: 'Shrikhand', cursive;
    text-align: center;
    font-weight: bold;
    margin: 10px;
}

.titresAccueil {
    font-weight: 900;
    margin: 0 30px;
    padding-top: 50px;
    padding-bottom: 15px;
}

h4 {
    font-family: 'Shrikhand', cursive;
    font-weight: 400;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.gapMap {
    gap: 15px;
    cursor: pointer;
    position: relative;
    margin: auto;
    border: none;
    background-color : transparent ; 
    padding : 30px;
    height : 20px;
    font-size: medium;
    font-weight: bold;
    color: #353535;
}

.mapList {
    display: none ;
}

.mapList:hover {
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center; 
}

.gapMap:focus + ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
    color: #353535;
    padding-left: 22px;
}

main div ul li {
    position: relative;
}

li .fa-map-marker-alt {
    position: absolute;
    right: 50%;
    transform: translateX(-70px);
}

main .city {
    background-color: #eaeaea;
    padding: 2px;
}

main .city i {
    font-size: large;
}

.Bold {
    font-weight: bold;
}

/*EXPLORER*/

.explorer {
    text-align: center;
    
}

.explorer h2 {
    margin: 0px;
    font-size: 30px;
    padding-top: 40px;
}

.explorer p {
    font-size: 20px;
    margin: 15px 0;
}

.explorer button {
background-image: linear-gradient(175deg, #FF79DA, #9356DC );
color: white;
font-weight: 400;
font-size: 20px;
padding: 15px 30px;
border: none;
border-radius: 25px;
box-shadow: 3px 5px 12px 0px grey;
margin: 15px 0;
transition : transform 400ms;
cursor: pointer;
}

.explorer button:hover {
    opacity: 0.9;
    box-shadow: 5px 8px 12px 0px lightgrey;
    transform: scale(1.01);
}

.backGrey {
    background-color: #f6f6f6;
}

.paddingBottomAccueil {
    padding-bottom: 45px;
}


/*NAV*/


nav ul {
    display: flex;
    gap: 25px;
    padding-right: 40px;
}

@media (max-width :880px) {
    nav ul {
        flex-direction: column;
    }
}

nav li {
    background-color: #f6f6f6;
    padding: 25px 20px;
    flex-grow: 1;
    border-radius: 15px;
    box-shadow: 3px 5px 12px 0px lightgrey;
    padding-left: 30px;
    position: relative;
    transition : transform 200ms;
    cursor: pointer;
}

nav li:hover {
    opacity: 0.9;
    background-color: #f5edff;
    box-shadow: 5px 8px 12px 0px lightgrey;
    transform: scale(1.01); 
}

nav i {
    margin-right: 20px;
    color: grey;
}

ul {
    list-style-type: none;
    margin-bottom: 55px;
}

ul span {
    color: white;
    background-color: #9356DC;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -12px;
}


/*RESTAURANTS*/

a {
    text-decoration: none;
    color: black;
}

.Restaurants {
    background-color: #f6f6f6;
}

.RestaurantsCarte {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 0 30px;
}

.carte {
    border-radius: 25px;
    background-color: white;
    box-shadow: lightgrey 0px 11px 16px -1px;
}

.carte img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
    object-position: 50% 61%;
}


section h3 {
    margin-top: 13px;
    margin-bottom: 0;
}

section p {
    margin-top: 10px;
}

figcaption {
    padding: 0px 35px 0px 15px;
}

figure {
    margin: 0px;
    transition : transform 200ms;
}

figure:hover {
    opacity: 0.9;
    box-shadow: 5px 8px 12px 0px lightgrey;
    transform: scale(1.01); 
}


@media (max-width : 880px) {
    .RestaurantsCarte {
        grid-template-columns: repeat(1, 1fr);
    }
    
}

.paddingBottomSection {
    padding-bottom: 60px;
}

.nouveau {
    position: relative;;
}

.nouveau::before {
    content: "Nouveau" ;
    position: absolute;
    height: 35px;
    width: 90px;
    background-color: #99E2D0;
    display: grid;
    place-items: center;
    right: 15px;
    top: 15px;
    border-radius: 3px;
    color: #008766;
    font-weight: 500;
}

.nouveau::after {
    content: "Nouveau" ;
    position: absolute;
    height: 35px;
    width: 90px;
    background-color: #99E2D0;
    display: grid;
    place-items: center;
    right: 15px;
    top: 15px;
    border-radius: 3px;
    color: #008766;
    font-weight: 500;
}

.relative {
    position: relative;
}

.animaHeart {
    opacity: 0;
    position: absolute;
    transition: all 0.5s; 
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(175deg, #FF79DA, #9356DC);
    transform: scale(0) ;
}

.indexHeart {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 7%;
}

.indexHeart:hover > .animaHeart {
    transform: scale(1);
    opacity: 1;
}

.indexHeart:hover > .animaHeart1 {
    opacity: 0;
}

.fa-heart {
    border-radius: 50%;
    padding: 5px ;
}

.fa-heart:before {
    padding: 5px; 
}

.animaHeart1 {
    position: absolute;
}

@media (min-width :800px) {
    .rightHeart {
        right: -7px;
    }
    
}


/*FOOTER*/

footer {
    background-color: #353535;
    color: white;
    position: relative;
    height: 200px;
    padding-left: 30px;
}

footer ul {
    padding: 0;
}

footer h4 {
    padding-top: 17px;
    margin-bottom: 17px;
}

footer ul {
    margin: 0;
}

footer ul li {
    margin: 10px 0;
}

.fa-utensils {
    padding-right: 20px;
}

.fa-hands-helping {
    padding-right: 13px;
}

footer li a {
    color: white;
}


  /*MENUS*/

  .menuTitle {
    font-family: 'Shrikhand', cursive;
    font-size: x-large;
  }

  @media (min-width : 1245px) {
    .menuTitle {
        font-family: 'Shrikhand', cursive;
        font-size: xx-large;
      } 
  }

  .paddingTitle {
    padding-right: 25px;
    padding-left: 10px;
  }

  .MenuPadding {
    padding: 5px 15px;
  }

  .commander {
      text-align: center;
  }

  .commander button {
    background-image: linear-gradient(175deg, #FF79DA, #9356DC );
    color: white;
    font-weight: 400;
    font-size: 20px;
    padding: 15px 50px;
    border: none;
    border-radius: 25px;
    box-shadow: 3px 5px 12px 0px grey;
    margin: 50px 0;
    transition : transform 200ms;
    cursor: pointer;
    }

    .commander button:hover {
        opacity: 0.9;
        box-shadow: 5px 8px 12px 0px lightgrey;
        transform: scale(1.01);
    }

    .imageRestaurant {
        display: block;
        height: 50vh;
        width: 100%;
        object-fit: cover;
        object-position: 50% 64%;
    }
    
    .borderBanner {
        border-radius: 40px 40px 0 0;
        padding-top: 10px;
        margin-top: -43px;
        position: relative;
    }

    @media (min-width : 1245px) {
    .menuGrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
    }
    }

    .linkAdjustment {
        position: absolute;
        top: 39%;
        left: 25px;
    }

    .borderColor {
        border-bottom: 4px solid #99E2D0;
        width: 60px;
        padding-bottom: 6px;
        margin-left: 10px;
    }

    .PaddingCarte {
        padding: 2px 25px 2px 15px;
        margin: 15px 0;
    }

    .PaddingBottomCategorie {
        padding-bottom: 10px;
    }

    .carte1 {
        border-radius: 20px;
        background-color: white;
        box-shadow: lightgrey 0px 11px 16px -1px;
        cursor: pointer;
        transition: ease 2s;
        overflow: hidden;
        display: flex;
        animation: move 1s linear 0s;
        animation-fill-mode: both;
    }
    .content {
        width: 100% ;
    }

    .check {
        background-color: #99E2D0;
        width: 70px;
        position: absolute;
        right: -70px;
        height: 100%; 
        align-items: center;
        text-align: center;
        justify-content: center;
        top: 0px;
        color: white;
        display:flex;
    }

    .ellipsis {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    
    .carte1:hover > .content {
        width: calc(100% - 70px);
        transition-duration: 1s;
    }

    .carte1:hover > .check {
        right: 0;
        transition-duration: 1s;
    }

    .check > i {
        transition: all 0 ease-in-out;
    }

    .carte1:hover > .check > i {
        transform: rotate(360deg);
        transition-duration: 1s;
    }

    .carte1:hover > .ellipsis {
        width: calc(100% - 30px);
    }


    /*FLEX*/

.flex {
    display: flex;
  }
  .flexColumn {
      flex-direction: column;
  }
  .flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .flexAround {
    display: flex ;
    justify-content: space-around ;
    align-items: center;
  }
  
  .flexBetween {
    display: flex;
    justify-content: space-between;
  }
  
  .flexEvenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .flexStart {
    justify-content: flex-start;
  }

  .flexEnd {
      display: flex;
      justify-content: flex-end;
  }
  
  .flexWrap {
    flex-wrap: wrap;
  }


  /*LOAD SPINNER*/

  .loading {
      position: fixed;
      background-color: white;
      height: 100vh;
      inset: 0;
      z-index: 1;
      opacity: 0.9;
      animation: out 0s;
      animation-fill-mode: forwards;
      animation-delay: 3s;
  }

  .circle {
      border: 10px solid transparent;
      border-top: 10px solid #9356DC;
      border-bottom: 10px solid #9356DC;
      border-right: 10px solid #9356DC;
      border-radius: 50%;
      height: 100px;
      width: 100px;
      margin: auto;
      position: absolute;
      inset: 0;
  }

  .loading > .circle {
      animation: spin 1s infinite linear;
  }

  @keyframes out {
      from {
          opacity: 1;
      }

      to {
        opacity: 0; 
        transform: scale(0);
        display : none ;
      }
  }

  @keyframes spin {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    
  }
}

/*CARTES SLIDE*/

.spawnbox {
    
    animation: spawn 1s linear 0s ;
    animation-fill-mode: both;
}

@keyframes spawn {
    0% {
        transform-origin: top;
        overflow: hidden;
        opacity: 0.5;
        height: 0;
    }
      25% {
        overflow: hidden;
        height: 25%;
        opacity: 0.6;
      }
      50% {
        overflow: hidden;
        height: 50%;
        opacity: 0.7;
      }
      75% {
        overflow: hidden;
        height: 75%;
        opacity: 0.8;
      }
      100% {
        height: 100%;
        opacity: 1;
      }
}

@keyframes move {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
      25% {
        transform: translateY(15px);
        opacity: 0.4;
      }
      50% {
        transform: translateY(10px);
        opacity: 0.6;
      }
      75% {
        transform: translateY(5px);
        opacity: 0.8;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
}

.delay05 {
    animation-delay: 500ms;
}
.delay075 {
    animation-delay: 750ms;
}
.delay1 {
    animation-delay: 1s;
}
.delay125 {
    animation-delay : 1.25s;
}