/*GENERAL*/

*, ::before, ::after {
    box-sizing: border-box;
}

/*HEADER*/

header {
    box-shadow: 0 2px 5px 1px #cfcfcf;
    padding: 1px;
    position: relative;
}

h1 {
    font-family: 'Shrikhand', cursive;
    text-align: center;
    margin: 10px;
}

h2 {
    font-weight: 900;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.gapMap {
    gap: 15px;
}

main .city {
    background-color: #eaeaea;
    padding: 2px;
}

main .city i {
    font-size: large;
}

/*EXPLORER*/

.explorer {
    text-align: center;
    
}

.explorer h2 {
    margin: 0px;
    font-size: 30px;
    padding-top: 40px;
}

.heightBack {
    height: 315px;
}

.explorer p {
    font-size: 20px;
    margin: 15px 0;
}

.explorer button {
background-image: linear-gradient(175deg, #FF79DA, #9356DC );
color: white;
font-weight: 400;
font-size: 20px;
padding: 15px 30px;
border: none;
border-radius: 25px;
box-shadow: 3px 5px 12px 0px grey;
margin: 15px 0;
}

.explorer button:hover {
    opacity: 0.9;
    box-shadow: 5px 8px 12px 0px lightgrey;
    transform: scale(1.01);
}

.backGrey {
    background-color: #f6f6f6;
}


/*NAV*/


nav ul {
    display: flex;
    gap: 25px;
    padding-right: 40px;
}

@media (max-width :880px) {
    nav ul {
        flex-direction: column;
    }
}

nav li {
    background-color: #f6f6f6;
    padding: 25px 20px;
    flex-grow: 1;
    border-radius: 15px;
    box-shadow: 3px 5px 12px 0px lightgrey;
    padding-left: 30px;
    position: relative;
}

nav li:hover {
    opacity: 0.9;
    box-shadow: 5px 8px 12px 0px lightgrey;
    transform: scale(1.01); 
}

nav i {
    margin-right: 20px;
    color: grey;
}

nav {
    padding-top: 30px;
}

ul {
    list-style-type: none;
}

ul span {
    color: white;
    background-color: #9356DC;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: absolute;
    top: 25px;
    left: -12px;
}







/*FLEX*/

.flex {
    display: flex;
  }
  
  .flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .flexAround {
    display: flex ;
    justify-content: space-around ;
    align-items: center;
  }
  
  .flexBetween {
    display: flex;
    justify-content: space-between;
  }
  
  .flexEvenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .flexStart {
    justify-content: flex-start;
  }
  
  .flexWrap {
    flex-wrap: wrap;
  }

  /*IMAGES*/



  /*MEDIA QUERIES*/

  @media only screen and (max-width: 300px) {

  }
